.entete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  input[type="checkbox"] {
    display: none;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: auto;
    position: static;
    flex-direction: row;
    background-color: transparent;
    text-wrap: nowrap;
    margin-right: 2rem;

    @media screen and (max-width: 768px) {
      display: none;

      .recherche {
        display: none;
      }
    }

    .bouton_toggle {
      order: 1;

      cursor: pointer;
      user-select: none;

      @media screen and (min-width: 1200px) {
        display: none;
      }

      @media screen and (max-width: 768px) {
        display: none;
        
      }

      .fleche {
        display: none;
        font-size: 1.2rem;
      }

      .droite {
        display: block;
      }
    }

    // Quand la checkbox est cochée, on inverse les flèches
    .entete__toggle_categories:checked + .bouton_toggle {
      ~ .recherche {
        display: none;
      }

      ~ .entete__menu .menu-item {
        display: inline !important; 
      }

      .droite {
        display: none;
      }

      .gauche {
        display: block;
        margin-right: clamp(10px, 2vw, 20px);
      }
    }
  }

  
  .menu_burger {
    display: none;
    cursor: pointer;
    user-select: none;
    font-size: 2.5rem;
    margin-right: 10vh;
    
    position: absolute;
    right: 0;
    
    @media screen and (max-width: 768px) {
      display: block;
    }
  }

  .icone {
    display: none;
    font-size: 2rem;
  }

  .burger {
    display: block;
  }

  // Lorsque la checkbox du burger est cochée
  .entete__toggle_menu_burger:checked ~ .entete__navigation {
    display: flex !important;
  }

  .entete__toggle_menu_burger:checked + .bouton_toggle_menu {
    .burger {
      display: none;
    }

    .fermer {
      display: block;
    }
  }

  &__logo {
    margin: 0;

    .custom-logo {
      max-width: clamp(100px, 20vw, 200px);
      height: auto;
    }
  }

  &__logo {
    margin: 0;
  }
  .custom-logo {
    max-width: clamp(100px, 20vw, 200px);
    height: auto;
  }
}
