// .populaire .global {
//     display: flex;
//     flex-wrap: wrap;
// }

.populaire {
    display: flex;
    justify-content: center;
    align-items: center;
}

.global{
    max-width: 90vw;
    padding: 10vh 5vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 240px));
    gap: 30px;
    justify-content: center;
    align-items: center;
}