.hero {   
  background-repeat: no-repeat;
  background-size: cover;

  &__contenu {
    display: grid;
    align-items: center;
    grid-template: 50px 100px 50px / 1fr;
    padding: 0 0 0 5vw;
    margin: 10 0;
    gap: 0;
    min-height: 60vh;
    width: 50%;
    align-content: center;

    .hero__titre{
      align-self: end;
    }
    .hero__description{
      font-size: 1rem;
      align-self: start;
    }

    
  }
}
