.inscription{
  translate: 0 -50%;
  padding: 10px 0 10px 0;
  width: 70vw;
  min-width:fit-content;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background-color: white;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);


  &__input{
    border: 2px solid lightblue;
    min-width: 200px;
    height: 30px;
    
  }
  &__input::placeholder{
    color: rgba(0, 0, 0, 0.3);
  }

  &__nom{
    margin-left: 10px;
  }

  &__bouton{
    align-self: flex-end;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      color: rgba(0, 0, 0, 0.3); 
    }
  }

 
}
@media screen and (max-width: 1110px) {
    .inscription{
      scale: clamp(0.5, 0.7, 0.8);
    } 
}

@media screen and (max-width: 768px) {
  .inscription{
    display: none;
  }
}