/* ----------------------------------------- .menu */
.menu{ // ul
    font-size: large;
    display : flex;
    @media screen and (max-width: 800px) {
    flex-direction: column;
    }
    flex-direction: row;
    list-style-type: none;
    gap : 10px 0;
    &-item{ // li
 
       a { //a
        
        color : inherit;
        text-decoration : none;
        padding : clamp(4px, .5rem, 1.5rem);
       } 
    }
}